name: build-test

on:
  push:
    branches:
      - master
      - 'releases/*'
      
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - run: curl ip.sb
    - uses: ./
      with:
        outbound-json: ${{ secrets.OUTBOUND_JSON }}
    - run: HTTP_PROXY=127.0.0.1:1080 curl ip.sb
